html,
body {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.not-flex {
  display: block;
  width: min(100vh, 80em);

  margin: 0 1em;
}

nav {
  font-size: 150%;

  background-color: white;
  padding: .3em .6em;

  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

nav a {
  color: black;
  font-style: normal;
  margin-right: .6em;
}

nav a:last-child {
  margin-right: 0;
}

footer {
  margin-bottom: 3em;
}