html,
body {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.centered {
  font-size: large;
  overflow-wrap: break-word;

  display: initial;
  width: min(100vw - 2em, 50em);
}

.content,
nav {
  transform: rotateX(180deg);
}

nav {
  font-size: larger;
  word-break: normal;

  overflow-wrap: normal;
  overflow-x: auto;

  background-color: white;
  padding: .3em .6em;

  /* Rotated 180deg so it's top instead of bottom. */
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

nav a {
  color: black;
  font-weight: bold;
  margin-right: .6em;
}

a {
  color: yellow;
}

a:hover {
  font-style: italic;
}

footer {
  border-top: .15em solid white;

  display: flex;
  justify-content: center;

  font-size: small;

  margin-bottom: 1em;
  padding-top: .5em;
}