html,
body {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.not-flex {
  font-size: large;

  display: block;
  width: min(100vh, 80em);

  margin: 0 1em;
}

nav {
  font-size: larger;

  background-color: white;
  padding: .3em .6em;

  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

nav a {
  color: black;
  font-weight: bold;
  margin-right: .6em;
}

nav a:last-child {
  margin-right: 0;
}

a {
  color: yellow;
}

a:hover {
  font-style: italic;
}

footer {
  border-top: .15em solid white;
  display: flex;
  font-size: small;
  justify-content: center;
  margin-bottom: 3em;
  padding-top: .5em;
}