---
layout: base.vto
type: article
---

<nav>
  <a class="nav-home" href="/">HOME</a>
  <a class="nav-about" href="/about">ABOUT</a>
  <a class="nav-blog" href="/blog">BLOG</a>
  <a class="nav-contact" href="/contact">CONTACT</a>
</nav>

<div class="content">{{ content }}</div>

<footer>Copyright © {{ new Date().getFullYear() }} RGBCube</footer>
