---
layout: base.vto
type: article
---

<nav>
  <a href="/">HOME</a>
  <a href="/about">ABOUT</a>
  <a href="/blog">BLOG</a>
  <a href="/contact">CONTACT</a>
</nav>

<div class="content">{{ content }}</div>

<footer>Copyright © RGBCube</footer>
