---
layout: text.vto
---

{{ content }}

{{ if tags.length !== 0 }}
  <p>Tags: {{ tags.join(", ") }}</p>
{{ /if }}

<p>
  Also, if you are a dinosaur that enjoys good technology, check out my
  <a href="/blog.rss">RSS Feed</a>.
</p>
