<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta property="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="{{ title }}">
    <meta name="twitter:title" content="{{ title }}">

    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    <meta name="twitter:description" content="{{ description }}">

    <meta name="theme-color" content="{{ color }}">

    <link rel="alternate" type="application/rss+xml" href="/blog.rss">

    <meta property="og:type" content="{{ type }}">
    <meta property="og:locale" content="en">

    <link rel="canonical" href="{{ url |> url(true) }}">
    <meta property="og:url" content="{{ url |> url(true) }}">
    <meta name="twitter:url" content="{{ url |> url(true) }}">

    <meta name="author" content="RGBCube">
    <meta property="og:article:author" content="RGBCube">
    <meta name="twitter:creator" content="RGBCubed">

    {{ if tags.length !== 0 }}
      <meta name="keywords" content="{{ tags.join(', ') }}">
      <meta property="og:article:tag" content="{{ tags.join(', ') }}">
    {{ /if }}

    {{ if date }} <!-- For some reason this is always true, even though I do not set it. -->
      <meta property="og:article:published_time" content="{{ date }}">
    {{ /if }}

    {{ if thumbnail }}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{{ thumbnail }}">
      <meta property="og:image" content="{{ thumbnail }}">
    {{ else }}
      <meta name="twitter:card" content="summary">
      <meta name="twitter:image" content="/assets/icon.png">
    {{ /if }}

    <link rel="icon" href="/assets/icon.gif">
    <link rel="apple-touch-icon" href="/assets/icon.png">
  </head">
  <body>
    <style>
      @font-face {
        font-display: block;
        font-family: "Bai Jamjuree";
        font-weight: normal;
        src: url("/assets/BaiJamjureeMedium.woff2") format("woff2");
      }

      @font-face {
        font-display: block;
        font-family: "Bai Jamjuree";
        font-style: italic;
        font-weight: normal;
        src: url("/assets/BaiJamjureeMediumItalic.woff2") format("woff2");
      }

      @font-face {
        font-display: block;
        font-family: "Bai Jamjuree";
        font-weight: bold;
        src: url("/assets/BaiJamjureeBold.woff2") format("woff2");
      }

      @font-face {
        font-display: block;
        font-family: "Bai Jamjuree";
        font-style: italic;
        font-weight: bold;
        src: url("/assets/BaiJamjureeBoldItalic.woff2") format("woff2");
      }

      @font-face {
        font-display: block;
        font-family: "JetBrains Mono";
        font-weight: normal;
        src: url("/assets/JetBrainsMonoMedium.woff2") format("woff2");
      }

      @font-face {
        font-display: block;
        font-family: "JetBrains Mono";
        font-style: italic;
        font-weight: normal;
        src: url("/assets/JetBrainsMonoMediumItalic.woff2") format("woff2");
      }

      @font-face {
        font-display: block;
        font-family: "JetBrains Mono";
        font-weight: bold;
        src: url("/assets/JetBrainsMonoBold.woff2") format("woff2");
      }

      @font-face {
        font-display: block;
        font-family: "JetBrains Mono";
        font-style: italic;
        font-weight: bold;
        src: url("/assets/JetBrainsMonoBoldItalic.woff2") format("woff2");
      }

      html {
        font-family: "Bai Jamjuree";
      }

      code,
      pre {
        font-family: "JetBrains Mono";
      }

      * {
        box-sizing: border-box;
        position: relative;
        min-width: 0;
      }

      html,
      body {
        background-color: black;
        color: white;

        height: 100dvh;
        width: 100dvw;

        margin: 0;
      }

      a {
        text-decoration-line: none;
      }
    </style>
    {{ content }}
  </body>
</html>
