---
layout: base.vto
title: RGBCube

# Required:
# faces
---

{{ set sides = ["front", "top", "back", "bottom", "right", "left"] }}

<div class="scene">
  <div class="cube">
    {{ for (let i = 0; i < sides.length; i++) }}
      <div class={{ "face " + sides[i] }}>
        {{ faces[i] }}
      </div>
    {{ /for }}
  </div>
</div>
