<ul>
  {{ for post of search.pages("layout=base.vto", "date")}}
  <li>
    <p>
      <a href="{{ post.url }}">{{ post.date.toISOString().slice(0, 10) }}</a>:
      {{ post.title }}
    </p>
  </li>
  {{ /for }}
</ul>
