*

!src/
!src/errors/
!src/page/
!src/page/cube/
!src/page/fonts/
!src/page/text/
!src/routes/
!src/routes/blog/
!src/routes/index/

!.gitignore

!*.gif
!*.woff2

!*.css
!*.js
!*.rs

!*.lock
!*.nix

!*.md
!*.toml
