*

!src/
!src/errors/
!src/errors/internal_server_error/
!src/errors/not_found/
!src/page/
!src/page/cube/
!src/page/text/
!src/routes/
!src/routes/index/

!.gitignore

!*.gif
!*.woff2

!*.css
!*.js
!*.rs

!*.lock
!*.nix

!*.md
!*.toml
