---
layout: dump.vto
title: D U M P
description: RAMBLINGS OF A MADMAN
mapTitle: RAMBLINGS OF A MADMAN
mapAnchor: true
---

<h1>Info and Thought Dumps</h1>

<p>Here is where I store all my random thoughts, grievances, random bits of information and perhaps the nice stuff I encounter.</p>

<p>Nothing here is blog-post tier good, so do not expect very high quality.</p>
