@font-face {
  font-display: block;
  font-family: "BaiJam";
  font-weight: normal;
  src: url("/assets/BaiJamjureeMedium.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: "BaiJam";
  font-weight: bold;
  src: url("/assets/BaiJamjureeBold.woff2") format("woff2");
}

html {
  background-color: black;
  color: white;
  font-family: "BaiJam";
}

body,
html {
  height: 100%;
  margin: 0;
}

a {
  text-decoration-line: none;
}