@font-face {
  font-display: block;
  font-family: "Bai Jamjuree";
  font-weight: normal;
  src: url("/assets/BaiJamjureeMedium.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: "Bai Jamjuree";
  font-style: italic;
  font-weight: normal;
  src: url("/assets/BaiJamjureeMediumItalic.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: "Bai Jamjuree";
  font-weight: bold;
  src: url("/assets/BaiJamjureeBold.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: "Bai Jamjuree";
  font-style: italic;
  font-weight: bold;
  src: url("/assets/BaiJamjureeBoldItalic.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: "IBM Plex Mono";
  font-weight: normal;
  src: url("/assets/IBMPlexMonoMedium.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: normal;
  src: url("/assets/IBMPlexMonoMediumItalic.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: "IBM Plex Mono";
  font-weight: bold;
  src: url("/assets/IBMPlexMonoBold.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: bold;
  src: url("/assets/IBMPlexMonoBoldItalic.woff2") format("woff2");
}

html {
  background-color: black;
  color: white;
  font-family: "Bai Jamjuree";
}

code,
pre {
  font-family: "IBM Plex Mono";
}

body,
html {
  height: 100%;
  margin: 0;
}

a {
  text-decoration-line: none;
}
