html {
  font-size: min(9vw, 9vh, 4.5em);
  overscroll-behavior: none;
}

a {
  color: black;
  font-weight: bold;
}

.frame {
  background-color: white;

  width: min-content;

  padding: 0 0.3em;
  border-radius: 1em;

  user-select: none;
}

.frame:hover {
  background-color: yellow;
}

.scene {
  height: 100%;
  width: 100%;
  perspective: 15em;

  display: flex;

  align-items: center;
  justify-content: center;
}

.cube {
  height: 5em;
  width: 5em;

  position: relative;

  transform: translateZ(-2.498em);
  transform-style: preserve-3d;
}

.face {
  width: 5em;
  height: 5em;

  display: flex;

  align-items: center;
  justify-content: center;

  position: absolute;
}

.front {
  transform: rotateY(0deg) translateZ(2.498em);
}

.top {
  /* Guess what? Yeah, you guessed right. Safari can't render shit. */
  transform: rotateX(89.99999999999999deg) translateZ(2.498em);
}

.back {
  transform: rotateY(180deg) translateZ(2.498em);
}

.bottom {
  transform: rotateX(-89.99999999999999deg) translateZ(2.498em);
}

.right {
  transform: rotateY(89.99999999999999deg) translateZ(2.498em);
}

.left {
  transform: rotateY(-89.99999999999999deg) translateZ(2.498em);
}
